.alcohols {
  padding-bottom: .3em;
}

.alcohol {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1em;
  background-color: #551111;
  margin: 1em 0;
  transition: .2s all;
  & > div {
    margin: .5em 0;
  }
  & > span {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
}

.alco-control {
  margin: .5em 0;
  & > div {
    margin: .3em 0;
    display: flex;
    justify-content: space-between;
    &:first {
      justify-content: flex-end;
    }
  } 
}

.add-alco {
  font-size: 2em;
  input {
    @include make-btn($main_color, $second_color, $third_color, $fourth_color);
  }
}

.degree,
.quantity {
  display: flex;
  justify-content: space-between;
}
@include max-tablet {
  .alcohol {
    flex-direction: column;
    justify-content: center;
  }
  .alco-limit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
  }
  .add-alco {
    display: flex;
    justify-content: flex-end;
  }
}