html, body {
  background: #505050;
  color: white;
}
.contain {
  width: 40%;
  margin: 0 auto;
}
.name {
  font-size: 1.2em;
  font-weight: 700;
}

input {
  color: black;
}

@include max-tablet {
  .contain {
    width: 95%;
  }
  
}