html, body {
  background: #505050;
  color: white;
}
.contain {
  width: 40%;
  margin: 0 auto;
}

input {
  color: black;
  text-align: right;
}

@include max-tablet {
  .contain {
    width: 95%;
  }
}