.gender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: .5em auto;
  select {
    max-width: 320px;
    width: 100%;
    background: white;
    color: black;
  }
}